.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
    background-color: aquamarine;
    padding: 40px;
    border-radius: 20px;
}

.h1-container-home{
    color: blue;
    font-size: 30px;
}

.home-img img{
    width: 400px;
}

.review-btn{
    color: yellow;
    background-color: blue;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    margin: 30px;
}

.review-btn a{
    text-decoration: none;
    color: yellow;

}