.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
    background-color: aquamarine;
    padding: 40px;
    border-radius: 20px;
}

.h1-container-home{
    color: blue;
    font-size: 30px;
}

.home-img img{
    width: 400px;
}